extends layout
include components/buttons

block content
  h2 Buttons - Simple
  - var buttonTypes = ['primary','secondary','success','danger','warning','info','light','dark']

  .bd-example
    each bt in buttonTypes
      +btn(bt) #{bt}

  .prism
    pre
      code.language-pug
        | +btn('primary') Primary
        | +btn('secondary') Secondary
        | +btn('success') Success
        | +btn('danger') Danger
        | +btn('warning') Warning
        | +btn('info') Info
        | +btn('light') Light
        | +btn('dark') Dark

  .bd-example
    +btn-primary()(aria-label="primary") Primary
    +btn-secondary() Secondary
    +btn-success() Success
    +btn-danger() Danger
    +btn-warning() Warning
    +btn-info() Info
    +btn-light() Light
    +btn-dark() Dark

  .prism
    pre
      code.language-pug
        | +btn-primary() Primary
        | +btn-secondary() Secondary
        | +btn-success() Success
        | +btn-danger() Danger
        | +btn-warning() Warning
        | +btn-info() Info
        | +btn-light() Light
        | +btn-dark() Dark
  h3 Large Buttons
  .bd-example
    each bt in buttonTypes
      +btn-lg(bt) #{bt}
  .prism
    pre
      code.language-pug
        | +btn-lg('primary') Primary
        | +btn-lg('secondary') Secondary
        | +btn-lg('success') Success
        | +btn-lg('danger') Danger
        | +btn-lg('warning') Warning
        | +btn-lg('info') Info
        | +btn-lg('light') Light
        | +btn-lg('dark') Dark
  h3 Small Buttons
  .bd-example
    each bt in buttonTypes
      +btn-sm(bt) #{bt}

  .prism
    pre
      code.language-pug
        | +btn-sm('primary') Primary
        | +btn-sm('secondary') Secondary
        | +btn-sm('success') Success
        | +btn-sm('danger') Danger
        | +btn-sm('warning') Warning
        | +btn-sm('info') Info
        | +btn-sm('light') Light
        | +btn-sm('dark') Dark

  h3 Outline Buttons
  .bd-example
    each bt in buttonTypes
      +btn-outline(bt) #{bt}
  .prism
    pre
      code.language-pug
        | +btn-outline('primary') Primary
        | +btn-outline('secondary') Secondary
        | +btn-outline('success') Success
        | +btn-outline('danger') Danger
        | +btn-outline('warning') Warning
        | +btn-outline('info') Info
        | +btn-outline('light') Light
        | +btn-outline('dark') Dark
