extends layout
include components/carousel
include mixins

block content
  h2 Carousel
  hr
  h3 Slides only
  +carousel("ExampleSlidesOnly")
    .carousel-item.active
      img.d-block.w-100(src="images/slide1.jpg")
    .carousel-item
      img.d-block.w-100(src="images/slide2.jpg")
    .carousel-item
      img.d-block.w-100(src="images/slide3.jpg")
    .carousel-item
      img.d-block.w-100(src="images/slide4.jpg")

  +prism
    | +carousel("ExampleSlidesOnly")
    |     .carousel-item.active
    |       img(src="images/slide1.jpg")
    |     .carousel-item
    |       img(src="images/slide2.jpg")
    |     .carousel-item
    |       img(src="images/slide3.jpg")
    |     .carousel-item
    |       img(src="images/slide4.jpg")

  h3 With controls
  +carousel("ExampleSlidesWithControls", true)
    .carousel-item.active
      img.d-block.w-100(src="images/slide1.jpg")
    .carousel-item
      img.d-block.w-100(src="images/slide2.jpg")
    .carousel-item
      img.d-block.w-100(src="images/slide3.jpg")
    .carousel-item
      img.d-block.w-100(src="images/slide4.jpg")

  +prism
    | +carousel("ExampleSlidesOnly", true)
    |     .carousel-item.active
    |       img(src="images/slide1.jpg")
    |     .carousel-item
    |       img(src="images/slide2.jpg")
    |     .carousel-item
    |       img(src="images/slide3.jpg")
    |     .carousel-item
    |       img(src="images/slide4.jpg")

  h3 With indicators
  +carousel("ExampleSlidesWithIndicators", true, true, 4)
    .carousel-item.active
      img.d-block.w-100(src="images/slide1.jpg")
    .carousel-item
      img.d-block.w-100(src="images/slide2.jpg")
    .carousel-item
      img.d-block.w-100(src="images/slide3.jpg")
    .carousel-item
      img.d-block.w-100(src="images/slide4.jpg")

  +prism
    | +carousel("ExampleSlidesOnly", true, true, 4)
    |     .carousel-item.active
    |       img(src="images/slide1.jpg")
    |     .carousel-item
    |       img(src="images/slide2.jpg")
    |     .carousel-item
    |       img(src="images/slide3.jpg")
    |     .carousel-item
    |       img(src="images/slide4.jpg")
